body {margin: 0;}

.page {
	width: 60em;
	margin-right: auto;
	margin-left: auto;
}

.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu-item {
	display: inline-block;
	min-width: 9.375em;
	min-height: 2.5em;
	line-height: 2.5em;
	margin-right: 3em;
	background-color: #444;
}

.menu-item--last {margin-right: 0;}

.menu-link {
	position: relative;
	display: block;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.menu-link:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #fff;
	border-bottom: 20px solid transparent;
}

.menu-link:after {
	content: "";
	position: absolute;
	right: -1.053em;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #444;
}

.menu-link:hover,
.menu-link:focus {
	background-color: #f90;
}

.menu-link:hover:after,
.menu-link:focus:after {
	border-left-color: #f90;
}

/* Responsive version */
/* 1000px */
@media screen and (max-width: 62.5em) {
	body {margin: 1.5em;}

	.page {
		width: auto;
		margin-right: 0;
		margin-left: 0;
	}

	.menu-item {margin-bottom: .625em;}
}

/* 414px */
@media screen and (max-width: 25.875em) {
	.menu-item {
		display: list-item;
		min-width: 0;
		margin-right: 0;
	}
}